.custom-width {
  width: 100%;
}
.z-index-5 {
  z-index: 5;
}
@media (min-width: 992px) {
  .custom-width {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .custom-width {
    width: 85%;
  }
}

@media (prefers-color-scheme: light) {
  .mainHeading {
    color: #fff;
  }
}
.mainHeading {
  color: #fff;
}

@media (prefers-color-scheme: light) {
  .nav-link-top-bar:hover,
  .navbar-nav .nav-link-top-bar.active,
  .nav-link-top-bar > a:hover:first-child,
  .nav-link-top-bar > a:active:first-child {
    color: #fff !important;
  }

  .nav-link-top-bar > a:not(.active):hover,
  .nav-link-top-bar a:not(.active):focus {
    color: #fff !important;
  }
}

.btn-no-border-at-end {
  border-right: 1px solid #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.modal-dialog-centered {
  width: 100% !important;
  max-width: 700px;
}

.btn-no-border-at-start {
  border-right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.modal-card {
  max-height: 73vh;
  height: 73vh !important;
}

.modal-card > .card-body {
  max-height: 73vh;
  height: 73% !important;
}

.card-height {
  height: 9vh;
}

.position-watchlist {
  top: 10px;
  right: 10px;

  svg {
    color: #f7cc5f;
    font-size: 1.5rem;
  }
}

.btn-costom-secondary {
  background: #fffdf6;
  color: #2c2c2c;
  border: 1px solid #f7cc5f !important;
}

.btn-costom-secondary:hover {
  background: rgb(255, 236, 179);
  color: #2c2c2c;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-color: #f7cc5f;
  border-bottom-width: 1.5px;
}
/* .card-height {
  height: 500px !important;
} */
.form-check-input:checked {
  background-color: #f7cc5f;
  border-color: #f7c33f;
}

body:has(.delete-modal) .modal-backdrop {
  z-index: 1055;
}

.modal-width {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.page-item a[aria-label="Previous page"],
.page-item a[aria-label="Next page"] {
  display: none;
}
.pagination {
  margin-bottom: 0;
}

.active a {
  background-color: #f7cc5f !important;
  border-color: #f7c33f !important;
}

.nav-link-top-bar.nav-link {
  color: #6e84a3 !important;
}

.nav-link-top-bar.nav-link:hover,
.nav-link-top-bar.nav-link:active {
  color: #a0b8da !important;
}

.margin-b {
  margin-bottom: 200px !important;
}

.max-width-1 {
  max-width: 200px;
  overflow-x: auto;
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
}

.max-width-2 {
  max-width: 300px;
  overflow-x: auto;
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
}

.max-width-1::-webkit-scrollbar {
  display: none;
}

.max-width-2::-webkit-scrollbar {
  display: none;
}
/* const StyledShimmerBox =
  styled(ShimmerDiv) <
  ShimmerProps >
  `
  margin-bottom: ${(props) => props.mb};
  border-radius: ${(props) => props.br};
`; */
